*
{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 20px;
}

/* textarea{
    margin:5px;
    padding: 10px;
    border-radius: 5px;
} */
input[type="text"],input[type="email"],input[type="button"],textarea{
    display:block;
    margin:10px;
}
input[type="radio"],input [type="checkbox"]{
    margin: 10px;
}
.app{
    width: 300px; 
    height: 370px; 
    margin: 20px;   
    padding: 20px;
    float:left;
    background-color: rgb(184, 179, 179);
}